<<<<<<< HEAD
/*footer start*/
footer {background-color: #f0f4c3; text-align: center; padding: 25px 0;}
footer p {color: #00675b; margin: 0;}
=======
/*footer start*/
footer {background-color: #f0f4c3; text-align: center; padding: 25px 0;}
footer p {color: #00675b; margin: 0;}
>>>>>>> d78ada771029323a0c9753db125593c60968c45b
/*footer fin*/