/*header start*/
header {background-color: #000;}
header a {text-decoration: none;}
header:after {content: ''; display: block; visibility: hidden; clear: both;}
header h1 {color: #fff; margin: 0; float: left;}
header h1 a {display: block;}
header h1 a img {width: 100px; margin-right: 10px; vertical-align: middle;}
header h1 a span {color: #fff; line-height: 100px;}
header > a {display: block; float: right; line-height: 100px; color: #fff;}
/*header fin*/