.hero {width: 75%; margin: auto;text-align: center;}
.hero.is-primary {background-color: #00675b !important;}

/*{#섹션 스타일링#}*/
.section {width: 500px; margin: 50px auto;text-align: center;}

/*{#ID, PW 설명 스타일링#}*/
.explanation-text {font-size: 12px; color: lightslategrey;}

/*{#도움메세지(id, pw, nickname 작성시)의 강조효과를 위한 디자인#}*/
.is-danger {font-size: 12px; color: red;}
.is-safe {font-size: 12px;color: blue;}

/*{#box 스타일링#}*/
.input {margin: 20px 0px 5px 0px;}

/*{#회원가입button 스타일링#}*/
.register-button {width: 300px;margin-top: 100px; background-color: #00675b !important; font-family: 'Jua', sans-serif;}

/*{#중복확인 button 스타일링#}*/
.is-same-button {width: 100px;margin-bottom: 30px;margin-top: 10px; background-color: #00675b !important; font-family: 'Jua', sans-serif;}