<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>Loading | MONG</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MONG - 로딩 중입니다!"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/img_loading.png') }}"/>
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet">
</head>
<body class="intro">
    <div class="intro_container">
        <div class="intro_contant">
            <div class="intro_logo"></div>
            <div class="move">
                <div class="intro_title">
                    <span>M</span>
                    <span>O</span>
                    <span>N</span>
                    <span>G</span>
                </div>
            <a href="#" class="page_btn">MORE VIEW+</a>
        </div>
        <div class="progress_bar">
            <div class="bar"></div>
            <div class="rate" data-rate="100"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>
</html>
